// app global css in SCSS form
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

body{
  font-family:'Montserrat-Regular';
}